/* main-container design */
.main-container{
      display:block;
      height: 100vh;
      width: 100vw;
}
/* container design */
.register-container{
      position: relative;
      display:flex;
      left:268px;
      top: 50.8px;
      width: 1000px;
      height: 600px;
}
/* logo design */
.logo img{
      width: 100px;
      height: 75px;
      
}
.logo h2{
      color: #468191;
}
/* ends here */
